<%- include('../../partials/head.ejs') %>
<div class="container d-flex justify-content-center align-items-center">
    <div class="shadow-sm bg-light p-5 my-5 text-center w-100"  style="min-height: 40vh;">
        <h1>Live TV</h1><hr>
        
        <h2 class="text-danger fw-bold mb-5">This TV Channel Required Subscription</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/5PyCWxfsJWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
<%- include("../../partials/footer") %>