<%- include('../partials/head.ejs') %>
  <div class="container-fluid">


    <div class="swiper-container">
      <style>
        .swiper-wrapper img{
          max-height: 400px;
        }
      </style>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/images/com1.jpg">
        </div>
        <div class="swiper-slide">
          <img src="/images/com5.jpg">
        </div>
        <div class="swiper-slide">
          <img src="/images/com4.jpg">
        </div>
        <div class="swiper-slide">
          <img src="/images/com3.jpg">
        </div>
        <div class="swiper-slide">
          <img src="/images/com2.jpg">
        </div>
        
     
      </div>
      <div class="swiper-button-prev myArrow"></div>
      <div class="swiper-button-next myArrow"></div>


    <div class="py-4">
      <div>
        <center>
          <h3 class="text-danger">Hotline for any Queries </h3>
        </center>
        <center>
          <h4> <i class="fa-solid text-danger fa-mobile"></i> 01722726897</h4>
        </center>

      </div>
    </div>
  </div>
  <div class="container-fluid  py-4">
    <div class="container">
      <center>
        <h1 class="text-dark mb-2">FEATURED PROJECTS</h1>
      </center>
      <div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5" data-wow-delay="0.5s">
          <div class="wow fadeInLeft col-lg-4 col-md-6">
            <div class="ribbon card h-100">
              <span class="ribbon3">OnGoing</span>
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="/images/com1.jpg" height="400" width="300" class="card-img-top" alt="Hollywood Sign on The Hill" />
              </div>
              <div class="card-body d-flex justify-content-between">
                <h5>Urban</h5>
                <p>Gulshan, Dhaka 1206</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="/images/com2.jpg"  height="400" width="300" class="card-img-top" alt="Hollywood Sign on The Hill" />
              </div>
              <div class="card-body d-flex justify-content-between">
                <h5>Urban</h5>
                <p>Gulshan, Dhaka 1206</p>
              </div>
            </div>
          </div>
          <div class="wow fadeInLeft col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="/images/com3.jpg"  height="400" width="300" class="card-img-top" alt="Hollywood Sign on The Hill" />
              </div>
              <div class="card-body d-flex justify-content-between">
                <h5>Urban</h5>
                <p>Gulshan, Dhaka 1206</p>
              </div>
            </div>
          </div>
          <div class="wow fadeInLeft col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="/images/com4.jpg"  height="400" width="300" class="card-img-top" alt="Hollywood Sign on The Hill" />
              </div>
              <div class="card-body d-flex justify-content-between">
                <h5>Urban</h5>
                <p>Gulshan, Dhaka 1206</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="/images/com5.jpg"  height="400" width="300" class="card-img-top" alt="Hollywood Sign on The Hill" />
              </div>
              <div class="card-body d-flex justify-content-between">
                <h5>Urban</h5>
                <p>Gulshan, Dhaka 1206</p>
              </div>
            </div>
          </div>

          <div class="wow fadeInLeft  col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="/images/com3.jpg"   height="400" width="300" class="card-img-top" alt="Hollywood Sign on The Hill" />
              </div>
              <div class="card-body d-flex justify-content-between">
                <h5>Urban</h5>
                <p>Gulshan, Dhaka 1206</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="py-5 bg-dark">
    <h1 class="text-light text-center">WHY LANDSCAPAE?</h1>
  </div>

  <div class="container-fluid" style="background-color: white;">
    <div class="container py-5">
      <div class="row py-4 bg-gray">
        <div class="wow fadeInLeft col-md-6 my-2 d-flex justify-content-center" data-wow-delay="0.5s">
          <img src="/images/com1.jpg" height="400" alt="">
        </div>
        <div class="wow fadeInRight col-md-6 2 my-2 ">
          <div class="my-5">
            <p style="text-align: justify; width:80%">
              Develop lifelong partnerships with the Urban team
              Till date, over 2200 families have chosen Urban Apartments. The sale is the beginning of a lifelong
              partnership between Urban and its apartment owners. Urban apartment owners get lifelong after sales
              service, free of cost.</p>
            <button class="c_btn py-2 px-5 mt-3">Learn More</button>
          </div>
        </div>

      </div>

      <div class="row mt-4 d-flex flex-wrap-reverse">
        <div class="wow fadeInLeft col-md-6 my-2">
          <div class="my-5">
            <p class="text-dark" style="text-align: justify; width:80%">From north to south, and from east to west -
              Urban apartment owners are spread all across the city of Dhaka! Choose your dream apartment from our wide
              array of ongoing and upcoming projects.!</p>
            <button class="c_btn py-2 px-5 mt-3">Develop Land</button>
          </div>
        </div>
        <div class="wow fadeInRight col-md-6 my-2">
          <img src="/images/com5.jpg" height="400" alt="">
        </div>
      </div>

    </div>

  </div>

  <div class="contact-form">
    <div class="containers">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            dolorum adipisci recusandae praesentium dicta!
          </p>

          <div class="info">
            <div class="information">
              <img src="img/location.png" class="icon" alt="" />
              <p>92 Cherry Drive Uniondale, NY 11553</p>
            </div>
            <div class="information">
              <img src="img/email.png" class="icon" alt="" />
              <p>lorem@ipsum.com</p>
            </div>
            <div class="information">
              <img src="img/phone.png" class="icon" alt="" />
              <p>123-456-789</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="/message" method="post" autocomplete="off">
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" id="name"  required maxlength="30"/>
              <label for="">Full Name *</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" id="email"  class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input"  id="phone"  required maxlength="15"/>
              <label for="">Phone *</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"  id="message" required maxlength="500"></textarea>
              <label for="">Message *</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btnn" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src='https://unpkg.com/swiper/swiper-bundle.js'></script>
  <script>
    const inputs = document.querySelectorAll(".input");

    function focusFunc() {
      let parent = this.parentNode;
      parent.classList.add("focus");
    }

    function blurFunc() {
      let parent = this.parentNode;
      if (this.value == "") {
        parent.classList.remove("focus");
      }
    }

    inputs.forEach((input) => {
      input.addEventListener("focus", focusFunc);
      input.addEventListener("blur", blurFunc);
    });

    let swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      centeredSlides: true,
      slidesPerView: 'auto',
      loop: true,
      coverflowEffect: {
        rotate: 40,
        stretch: 25,
        depth: 200,
        modifier: 1,
        slideShadows: true,
      },
    autoplay:{
      delay: 1500,
      disableOnInteraction: false,
    },
       navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      
    });
  </script>

  <%- include('../partials/footer.ejs') %>
    </body>

    </html>