<%- include('../../partials/head.ejs') %>
<div class="container-fluid py-5 bg-light">
    <div class="container">
       <h2 class="display-6 fw-bold text-primary fst-italic">HR Policy</h2>
       <hr>
       <p> 

        Stakeholders are an integral part of Landscape. We believe through integrative effort, we will be able to reach new heights and attain collective success. Therefore, here at Landscape , we empower our employees and strictly promote a safe work environment.
        <br>
        <br>
Our work culture highly values diversity to establish equal opportunities for all. We engage in attracting and selecting talents irrespective of their gender, race, religion, and ethnicity. Hence, here you will be able to flourish both personally and professionally with complete security and fairness.
       </p>
    </div>
</div>
<%- include("../../partials/footer") %>